

.form-control{
    background-color: antiquewhite;
}
.mb-3{
    margin-top: 3rem;
    margin-left: 8rem;
    margin-right: 3rem;
    padding-top: 0rem;
    padding-bottom: 2px;
    padding-right: 15px;
}
.bg-dark{
    background-color: #094a8c !important;
}
.navbar-brand {
    font-size: 1.5rem;
    margin-left: 4rem;
    color: white;
    
}
.navbar-light .navbar-brand{
    color: white;
}

.table{
    border-radius: 2px solid black;
    margin-top: 50px;
    margin-left: 40px;
    
}